<!-- Social Share Button HTML -->

<!-- Twitter -->
<li>
    <a href="//twitter.com/share?url=https:{{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Author.twitter }}"
       target="_blank" alt="" title="Share on Twitter">
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>

<!-- Google Plus -->
<li>
    <a href="//plus.google.com/share?url=https:{{ .Permalink }}" target="_blank" title="Share on Google Plus">
         <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>

<!-- Facebook -->
<li>
    <a href="//www.facebook.com/sharer/sharer.php?u=https://{{ .Permalink }}" target="_blank" title="Share on Facebook">
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>
<!-- LinkedIn -->
<li>
    <a href="//www.linkedin.com/shareArticle?url=https://{{ .Permalink }}&amp;title={{ .Title }}" target="_blank"
       title="Share on LinkedIn">
         <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
    </a>
</li>

</br>
</br>
<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="en" title="add to your hatena bookmark">
    <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="add to your hatena bookmark" width="20" height="100" style="border: none;" />
</a>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
